@model IEnumerable<SAED.ApplicationCore.Entities.Descritor>

@{
    ViewData["Title"] = "Descritores";
}

<form id="form-filter" method="get" action="">
    <div class="card p-3">
        <div class="row d-flex justify-content-around align-items-center">
            <div class="col-5">
                <h4 class="card-header border-0">Disciplinas</h4>
            </div>

            <select class="form-control col-5" id="disciplinaId" name="disciplinaId" asp-items="ViewBag.Disciplinas">
                <option disabled selected value=""> -- Selecione a Disciplina -- </option>
            </select>
        </div>
    </div>
    <div class="card p-3">
        <div class="row d-flex justify-content-around align-items-center">
            <div class="col-5">
                <h4 class="card-header border-0">Temas</h4>
            </div>
            <select class="form-control col-5" id="temaId" name="temaId" onchange="document.querySelector('#form-filter').submit()" asp-items="ViewBag.Temas" disabled="@(ViewBag.Temas == null)">
                <option disabled selected value=""> -- Selecione o Tema -- </option>
            </select>
        </div>
    </div>
</form>

<div class="card p-3">
    @{await Html.RenderPartialAsync("Partials/Table/_Header", new TableHeader { Header = "Descritores", Controller = "Descritores", Action = "Descritores" });}
    <table id="table_id" class="table table-hover mdl-data-table text-center">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Tema.Disciplina)</th>
                <th>@Html.DisplayNameFor(model => model.Tema)</th>
                <th>Descritor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Tema.Disciplina.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Tema.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td class="d-flex flex-wrap justify-content-center">
                        <a class="action-icon-container mx-lg-2 my-1 my-sm-0" title="Editar" asp-action="Edit" asp-route-id="@item.Id"><i class="cil-pencil font-lg"></i></a>
                        <a class="action-icon-container mx-lg-2 my-1 my-sm-0" title="Remover" asp-action="Delete" asp-route-id="@item.Id"><i class="cil-trash font-lg"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        document.querySelector("#disciplinaId").addEventListener("change", () => {
            const form = document.querySelector('#form-filter');
            document.querySelector("#temaId").selectedIndex = -1;

            form.action = removeUrlParam("temaId", window.location.href);
            form.submit();
        });
    </script>
}