@model IEnumerable<SAED.ApplicationCore.Entities.Disciplina>

@{
    ViewData["Title"] = "Disciplinas";
}

<main class="uk-card uk-card-default uk-card-body">
    @{await Html.RenderPartialAsync("Partials/Table/_Header", new TableHeader { Header = "Disciplinas", Controller = "Disciplinas", Action = "Disciplinas" });}
    <div class="uk-overflow-auto">
        <table id="dataTable" class="uk-table uk-table-hover uk-table-middle uk-table-striped">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>@Html.DisplayNameFor(model => model.Sigla)</th>
                    <th class="uk-text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Sigla)</td>
                        <td class="uk-flex uk-flex-center">
                            <a class="uk-margin-right" uk-icon="pencil" title="Editar" asp-action="Edit" asp-route-id="@item.Id"></a>
                            @*<a uk-icon="trash" title="Remover" asp-action="Delete" asp-route-id="@item.Id"></a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
