@using SAED.ApplicationCore.Entities
@using SAED.Web.Extensions;
@using static SAED.ApplicationCore.Constants.AuthorizationConstants
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var avaliacao = HttpContextAccessor.HttpContext.Session.Get<Avaliacao>("avaliacao");
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="SAED - Sistema de Avaliação Educacional de Juazeiro-BA">
    <meta name="author" content="Tácio de Souza Campos">
    <title>@ViewData["Title"] | SAED</title>

    <link rel="icon" href="~/assets/favicon/favicon.ico">

    <!-- Icons-->
    <link href="~/vendors/coreui/icons/css/free.min.css" rel="stylesheet">
    <link href="~/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

    <!-- UIkit -->
    <link rel="stylesheet" href="~/vendors/uikit/css/uikit.min.css" />
    <script defer src="~/vendors/uikit/js/uikit.min.js"></script>
    <script defer src="~/vendors/uikit/js/uikit-icons.min.js"></script>
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/css/uikit.min.css" />
        <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit-icons.min.js"></script>*@

    <!-- CoreUI Styles -->
    <link href="~/vendors/coreui/dist/css/coreui.min.css" rel="stylesheet">

    <!-- Pace Progress Styles -->
    <link href="~/vendors/pace-progress/css/pace.css" rel="stylesheet">

    <!-- Main styles-->
    <link href="~/css/administrador/table/header.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    @*<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/4.0.0/material-components-web.min.css">*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.material.min.css">*@

    <style>
        .grid {
            display: grid;
            grid-template: auto minmax(calc(100vh - 162px), 1fr) auto / 1fr 4fr;
            grid-template-areas: "aside header header" "aside content content" "aside footer footer";
        }

        .aside {
            grid-area: aside;
            position: sticky;
            top: 0;
            height: 100vh;
            box-sizing: border-box;
        }

        .header {
            grid-area: header;
        }

        .content {
            grid-area: content;
        }

        .footer {
            grid-area: footer;
        }

        @@media only screen and (max-width: 960px) {
            .grid {
                display: grid;
                grid-template: auto minmax(calc(100vh - 162px), 1fr) auto / 1fr;
                grid-template-areas: "header header" "content content" "footer footer";
            }
        }
    </style>

    @RenderSection("Styles", required: false)
</head>
<body>
    <div id="sidebar" uk-offcanvas="slide">
        <div class="uk-offcanvas-bar">
            @*<div class="c-sidebar-brand"><img class="c-sidebar-brand-full" src="/assets/brand/coreui-base-white.svg" width="118" height="46" alt="CoreUI Logo"><img class="c-sidebar-brand-minimized" src="/assets/brand/coreui-signet-white.svg" width="118" height="46" alt="CoreUI Logo"></div>*@
            <ul class="uk-nav uk-nav-default">
                <li class="uk-active"><a href="#">Active</a></li>
                <li class="uk-parent">
                    <a href="#">Parent</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">Sub item</a></li>
                        <li><a href="#">Sub item</a></li>
                    </ul>
                </li>
                <li class="uk-nav-header">Header</li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
            </ul>
        </div>
    </div>
    <div class="grid">
        <aside class="uk-card uk-card-default uk-visible@m aside" style="background-color: #f8f8f8;">
            <div>
                <p class="uk-text-center uk-margin-top">Logo</p>
                <hr class="uk-list-divider" />
            </div>
            <ul class="uk-nav uk-nav-default uk-margin-left">
                <li class="uk-active"><a asp-area="@Areas.Administrador" asp-controller="Dashboard" asp-action="Index">Inicio</a></li>

                <li class="uk-nav-header">Básico</li>
                <li><a asp-area="@Areas.Administrador" asp-controller="Distritos" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Distritos</a></li>
                <li><a asp-area="@Areas.Administrador" asp-controller="Escolas" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Escolas</a></li>
                <li class="uk-nav-divider"></li>

                <li class="uk-nav-header">Elaboração</li>
                <li><a asp-area="@Areas.Administrador" asp-controller="Avaliacoes" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Avaliações</a></li>
                <li><a asp-area="@Areas.Administrador" asp-controller="Disciplinas" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Disciplinas</a></li>
                <li><a asp-area="@Areas.Administrador" asp-controller="Temas" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Temas</a></li>
                <li><a asp-area="@Areas.Administrador" asp-controller="Descritores" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Descritores</a></li>
                <li><a asp-area="@Areas.Administrador" asp-controller="Questoes" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Questões</a></li>
                <li><a asp-area="@Areas.Administrador" asp-controller="Alternativas" asp-action="Index"><span class="uk-margin-small-right" uk-icon="thumbnails"></span> Alternativas</a></li>
                <li class="uk-nav-divider"></li>

                <li class="uk-parent">
                    <a href="#">Parent</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">Sub item</a></li>
                        <li><a href="#">Sub item</a></li>
                    </ul>
                </li>
                <li class="uk-nav-divider"></li>

                <li class="uk-margin-small-top">
                    <form class="logout-form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <a onclick="document.querySelector('.logout-form').submit();"><span class="uk-margin-small-right" uk-icon="sign-in"></span> Sair</a>
                    </form>
                </li>
            </ul>
        </aside>
        <nav class="uk-navbar uk-navbar-container uk-margin-bottom uk-flex-between uk-flex-middle header" style="height: 70px;">
            <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle="#sidebar"></a>
            <div class="uk-visible@m"></div>
            <h4 class="uk-navbar-item uk-logo">@User.Identity.Name</h4>
            <div>
                <span class="uk-margin-small-right">@avaliacao?.Codigo</span>
                <a href="/avaliacoes" class="uk-icon-button uk-margin-small-right" uk-icon="sign-out"></a>
            </div>
        </nav>
        <div class="content">
            <div class="uk-container uk-container-expand" style="min-height: calc(100% - 166px)">
                <div class="uk-animation-fade">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer class="footer">
            <hr class="uk-list-divider uk-margin-top uk-margin-remove-bottom" />
            <div class="uk-flex uk-flex-center uk-flex-middle uk-padding-small">
                <span>Desenvolvido com</span>
                <span class="uk-margin-small-left uk-margin-small-right" uk-icon="heart"></span>
                <span>pelo</span>
                <img src="/assets/img/logo-SIEM.jpg" alt="Logomarca do SIEM" class="uk-margin-small-left" width="16" height="16" />
            </div>
        </footer>
    </div>
    <!-- JQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>

    <!-- CoreUI and necessary plugins-->
    <script src="~/vendors/pace-progress/js/pace.min.js"></script>
    <script src="~/vendors/coreui/dist/js/coreui.bundle.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    @*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.material.min.js"></script>*@

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const dataTable = configureDataTable();

            configureCustomInputSearch(dataTable);
        });

        function configureDataTable() {
            return $('#table_id').DataTable({
                //lengthMenu: [20],
                bLengthChange: true,
                dom: 'rt<"bottom mt-3 d-flex justify-content-between align-items-center"lp>',
                //order: [[1, 'asc']],
                info: false,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.21/i18n/Portuguese-Brasil.json'
                },
                //autoWidth: false,
                //columnDefs: [
                //    {
                //        targets: ['_all'],
                //        className: 'mdc-data-table__cell'
                //    }
                //],
            });
        }

        function configureCustomInputSearch(dataTable) {
            $('#searchInput').keyup(function () {
                dataTable.search($(this).val()).draw();
            });
        }

        function removeUrlParam(key, sourceURL) {
            var rtn = sourceURL.split("?")[0],
                param,
                params_arr = [],
                queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";
            if (queryString !== "") {
                params_arr = queryString.split("&");
                for (var i = params_arr.length - 1; i >= 0; i -= 1) {
                    param = params_arr[i].split("=")[0];
                    if (param === key) {
                        params_arr.splice(i, 1);
                    }
                }
                rtn = rtn + "?" + params_arr.join("&");
            }
            return rtn;
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>