@model IEnumerable<Aluno>

@{
    ViewData["Title"] = "Alunos";
}

<form id="form-filter" class="uk-card uk-card-default uk-margin-bottom" style="padding: 20px 0;" method="get" action="">
    <div class="uk-grid uk-flex-around" uk-grid>
        <section class="uk-width-1-3@s uk-margin-remove-first-child">
            <label class="uk-form-label">Escolas</label>
            <select class="uk-select" id="escolaId" name="escolaId" asp-items="ViewBag.Escolas">
                <option disabled selected value=""> -- Selecione a Escola -- </option>
            </select>
        </section>
        <section class="uk-width-1-3@s uk-margin-remove-first-child">
            <label class="uk-form-label">Etapas</label>
            <select class="uk-select" id="etapaId" name="etapaId" asp-items="ViewBag.Etapas">
                <option disabled selected value=""> -- Selecione a Etapa -- </option>
            </select>
        </section>
    </div>
</form>

<main class="uk-card uk-card-default uk-card-body">
    @{ await Html.RenderPartialAsync("Partials/Table/_Header", new TableHeader { Header = "Alunos", Controller = "Alunos", Action = "Alunos" }); }
    <div class="uk-overflow-auto">
        <table id="dataTable" class="uk-table uk-table-hover uk-table-middle uk-table-striped">
            <thead>
            <tr>
                <th>Escola</th>
                <th>Etapa - Turma</th>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>CPF</th>
                <th>@Html.DisplayNameFor(model => model.Nascimento)</th>
                <th class="uk-text-center">Ações</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Turma.Sala.Escola.Nome</td>
                    <td>@item.Turma.Etapa.Nome - @item.Turma.Nome</td>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cpf.Codigo)</td>
                    <td>@item.Nascimento.ToShortDateString()</td>
                    <td class="uk-flex uk-flex-center">
                        <a class="uk-margin-right" uk-icon="pencil" title="Editar" asp-action="Edit" asp-route-id="@item.Id"></a>
                        <a uk-icon="trash" title="Remover" asp-action="Delete" asp-route-id="@item.Id"></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</main>

@section Scripts {
    <script>
        document.querySelector("#escolaId").addEventListener("change",
            () => {
                const form = document.querySelector('#form-filter');
                form.submit();
            });

        document.querySelector("#etapaId").addEventListener("change",
            () => {
                const form = document.querySelector('#form-filter');
                form.submit();
            });

        VMasker(document.querySelector("#Cpf")).maskPattern("999.999.999-99");
    </script>
    <script src="~/scripts/removeItem.js"></script>
}