@model R103ViewModel

@{
    ViewData["Title"] = "103 - Consolidado por Distrito/Etapa";
}

<main class="uk-card uk-card-default uk-padding-small">
    <h2 class="uk-card-header uk-border-rounded uk-text-center uk-margin-bottom">
        <span>Consolidado por Distrito > Etapa</span>
        <a href="" onclick="window.print()" uk-icon="icon: print"></a>
    </h2>
    <section class="uk-flex uk-flex-center">
        <dl class="uk-column-1-@(Model.DisciplinasViewModel.Count + 1) uk-column-divider uk-description-list uk-text-center">
            <dt>Total de Questões</dt>
            <dd class="uk-text-center">@Model.QtdTotalQuestoes</dd>
            @foreach (var disciplinaViewModel in Model.DisciplinasViewModel)
            {
                <dt>@disciplinaViewModel.Disciplina.Nome</dt>
                <dd class="uk-text-capitalize uk-text-center">@disciplinaViewModel.QtdQuestoes</dd>
            }
        </dl>
    </section>
    @foreach (var distrito in Model.DistritosEtapasViewModel.Select(x => x.Distrito).Distinct())
    {
        <div class="uk-flex uk-flex-between uk-flex-middle">
            <h3 class="uk-heading-line">@distrito.Nome</h3>
            <div class="uk-text-meta uk-text-right uk-margin-small-right">Taxa de corte: @ApplicationConstants.TaxaCorte%</div>
        </div>
        <table id="dataTable" class="uk-table uk-table-hover uk-text-center uk-table-striped">
            <thead>
            <tr>
                <th class="uk-text-center">Etapa</th>
                <th class="uk-text-center">Alunos</th>
                @foreach (var disciplina in Model.DisciplinasViewModel.Select(x => x.Disciplina).Distinct())
                {
                    <th class="uk-text-center">@disciplina.Nome</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var distritoEtapaViewModel in Model.DistritosEtapasViewModel.Distinct())
            {
                <tr>
                    <td>@distritoEtapaViewModel.Etapa.Nome</td>
                    <td>@distritoEtapaViewModel.QtdAlunos</td>

                    @foreach (var resultado in Model.ResultadoDistritosEtapasViewModel)
                    {
                        if (distritoEtapaViewModel.Distrito.Id == resultado.DistritoEtapaViewModel.Distrito.Id &&
                            distritoEtapaViewModel.Etapa.Id == resultado.DistritoEtapaViewModel.Etapa.Id &&
                            resultado.DisciplinaViewModel.Disciplina.Id == resultado.DistritoEtapaViewModel.Disciplina.Id &&
                            resultado.DistritoEtapaViewModel.Distrito.Id == resultado.DisciplinaViewModel.Distrito.Id)
                        {
                            <td class="@(resultado.TaxaAcertoDisciplina >= ApplicationConstants.TaxaCorte ? "uk-text-success" : "uk-text-danger")">
                                <span>@resultado.TaxaAcertoDisciplina%</span>
                                <span class="uk-margin-small-left" uk-icon="@(resultado.TaxaAcertoDisciplina >= ApplicationConstants.TaxaCorte ? "check" : "close")"></span>
                            </td>
                        }
                    }
                </tr>
            }
            </tbody>
        </table>
    }
</main>