@model R105ViewModel

@{
    ViewData["Title"] = "105 - Consolidado por Escola/Etapa";
}

<main class="uk-card uk-card-default uk-padding-small">
    <h2 class="uk-card-header uk-border-rounded uk-text-center uk-margin-bottom">Consolidado por Escola > Etapa</h2>
    <section class="uk-flex">
        <dl class="uk-description-list uk-description-list-divider uk-margin-top uk-margin-small-right">
            <dt>Total de Questões</dt>
            <dd class="uk-text-center">@Model.QtdTotalQuestoes</dd>
        </dl>
        @foreach (var disciplina in Model.DisciplinasViewModel)
        {
            <dl class="uk-description-list uk-margin-small-right uk-margin-small-left">
                <dt>@disciplina.Disciplina.Nome</dt>
                <dd class="uk-text-capitalize uk-text-center">@disciplina.QtdQuestoesDisciplina</dd>
            </dl>
        }
    </section>
    @foreach (var escola in Model.EscolasEtapasViewModel.Select(x => x.Escola).Distinct())
    {
        <h5>@escola.Nome</h5>
        <table id="table_id" class="uk-table uk-table-hover uk-text-center uk-table-striped">
            <thead>
            <tr>
                <th class="uk-text-center">Etapa</th>
                <th class="uk-text-center">Alunos</th>
                @foreach (var disciplina in Model.DisciplinasViewModel.Select(x => x.Disciplina).Distinct())
                {
                    <th class="uk-text-center">@disciplina.Nome</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var escolaEtapaViewModel in Model.EscolasEtapasViewModel.Distinct())
            {
                <tr>
                    <td>@escolaEtapaViewModel.Etapa.Nome</td>
                    <td>@escolaEtapaViewModel.QtdAlunos</td>

                    @foreach (var resultado in Model.ResultadoEscolasEtapasViewModel)
                    {
                        if (escolaEtapaViewModel.Escola.Id == resultado.EscolaEtapaViewModel.Escola.Id &&
                            escolaEtapaViewModel.Etapa.Id == resultado.EscolaEtapaViewModel.Etapa.Id &&
                            resultado.DisciplinaViewModel.Disciplina.Id == resultado.EscolaEtapaViewModel.DisciplinaId &&
                            resultado.EscolaEtapaViewModel.Escola.Id == resultado.DisciplinaViewModel.EscolaId)
                            {
                                <td>@resultado.TaxaAcerto%</td>
                            }
                    }
                </tr>
            }
            </tbody>
        </table>
    }
</main>