@model R106ViewModel

@{
    ViewData["Title"] = "105 - Consolidado por Aluno";
}

<main class="uk-card uk-card-default uk-padding-small">
    <h2 class="uk-card-header uk-border-rounded uk-text-center uk-margin-bottom">
        <span>Consolidado por Aluno</span>
        <a href="" onclick="window.print()" uk-icon="icon: print"></a>
    </h2>
    <section class="uk-flex uk-flex-center">
        <dl class="uk-column-1-@(Model.DisciplinasViewModel.Distinct().Count()+1) uk-column-divider uk-description-list uk-text-center">
            <dt>Total de Questões</dt>
            <dd class="uk-text-center">@Model.QtdTotalQuestoes</dd>
            @foreach (var disciplinaViewModel in Model.DisciplinasViewModel.Distinct())
            {
                <dt>@disciplinaViewModel.Disciplina.Nome</dt>
                <dd class="uk-text-capitalize uk-text-center">@disciplinaViewModel.QtdQuestoesDisciplina</dd>
            }
        </dl>
    </section>
    @foreach (var escola in Model.AlunosViewModel.Select(x => x.Escola).Distinct())
    {
        @*@foreach (var etapa in Model.AlunosViewModel.Select(x => x.Etapa).Distinct())
            {*@
        <div class="uk-flex uk-flex-between uk-flex-middle">
            <h3 class="uk-heading-line">@escola.Nome</h3>
            <div class="uk-text-meta uk-text-right uk-margin-small-right">Taxa de corte: @ApplicationConstants.TaxaCorte%</div>
        </div>
        @*<h3>@escola.Nome - @etapa.Nome</h3>*@
        <table id="dataTable" class="uk-table uk-table-hover uk-text-center uk-table-striped">
            <thead>
                <tr>
                    <th class="uk-text-center">Etapa</th>
                    <th class="uk-text-center">Aluno</th>
                    @foreach (var disciplina in Model.DisciplinasViewModel.Select(x => x.Disciplina).Distinct())
                    {
                        <th class="uk-text-center">@disciplina.Nome</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var escolaEtapaAlunoViewModel in Model.AlunosViewModel.Distinct())
                {
                    <tr>
                        <td>@escolaEtapaAlunoViewModel.Aluno.Turma.Etapa.Nome</td>
                        <td>@escolaEtapaAlunoViewModel.Aluno.Nome</td>

                        @foreach (var resultado in Model.ResultadoAlunosViewModel)
                        {
                            if (escolaEtapaAlunoViewModel.Aluno.Id == resultado.AlunoViewModel.Aluno.Id &&
                                resultado.AlunoViewModel.Disciplina.Id == resultado.DisciplinaViewModel.Disciplina.Id &&
                                resultado.AlunoViewModel.Aluno.Id == resultado.DisciplinaViewModel.Aluno.Id)
                            {
                                <td class="@(resultado.TaxaAcerto >= ApplicationConstants.TaxaCorte ? "uk-text-success" : "uk-text-danger")">
                                    <span>@resultado.TaxaAcerto%</span>
                                    <span class="uk-margin-small-left" uk-icon="@(resultado.TaxaAcerto >= ApplicationConstants.TaxaCorte ? "check" : "close")"></span>
                                </td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
        @*}*@
    }
</main>