@model R203ViewModel

@{
    ViewData["Title"] = "203 - Consolidado por Distrito > Etapa";
}

<main class="uk-card uk-card-default uk-padding-small">
    <h2 class="uk-card-header uk-border-rounded uk-text-center uk-margin-bottom">
        <span>Consolidado por Distrito > Etapa</span>
        <a href="" onclick="window.print()" uk-icon="icon: print"></a>
    </h2>
    <section class="uk-flex uk-flex-center">
        <dl class="uk-column-1-@(Model.TemasViewModel.Count+1) uk-column-divider uk-description-list uk-text-center">
            <dt>Total de Questões</dt>
            <dd class="uk-text-center">@Model.QtdTotalQuestoes</dd>
            @foreach (var temaViewModel in Model.TemasViewModel)
            {
                <dt>@temaViewModel.Tema.Nome</dt>
                <dd class="uk-text-capitalize uk-text-center">@temaViewModel.QtdQuestoes</dd>
            }
        </dl>
    </section>
@foreach (var distrito in Model.DistritosEtapasViewModel.Select(x => x.Distrito).Distinct())
{
    <div class="uk-flex uk-flex-between uk-flex-middle">
        <h3 class="uk-heading-line">@distrito.Nome</h3>
        <div class="uk-text-meta uk-text-right uk-margin-small-right">Taxa de corte: @ApplicationConstants.TaxaCorte%</div>
    </div>
    <table id="dataTable" class="uk-table uk-table-hover uk-text-center uk-table-striped">
        <thead>
        <tr>
            <th class="uk-text-center">Etapa</th>
            <th class="uk-text-center">Alunos</th>
            <th class="uk-text-center">Taxa de Acerto</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var distritoEtapaViewModel in Model.DistritosEtapasViewModel)
        {
            <tr>
                <td>@distritoEtapaViewModel.Etapa.Nome</td>
                <td>@distritoEtapaViewModel.Tema.Nome</td>

                @foreach (var resultado in Model.ResultadoDistritosEtapasViewModel)
                {
                    if (distritoEtapaViewModel.Distrito.Id == resultado.DistritoEtapaViewModel.Distrito.Id &&
                        distritoEtapaViewModel.Tema.Disciplina.Id == resultado.DistritoEtapaViewModel.Tema.Disciplina.Id &&
                        resultado.TemaViewModel.Tema.Id == resultado.DistritoEtapaViewModel.Tema.Id &&
                        resultado.TemaViewModel.Distrito.Id == resultado.DistritoEtapaViewModel.Distrito.Id)
                    {
                        <td class="@(resultado.TaxaAcertoTema >= ApplicationConstants.TaxaCorte ? "uk-text-success" : "uk-text-danger")">
                            <span>@resultado.TaxaAcertoTema%</span>
                            <span class="uk-margin-small-left" uk-icon="@(resultado.TaxaAcertoTema >= ApplicationConstants.TaxaCorte ? "check" : "close")"></span>
                        </td>
                    }
                }
            </tr>
        }
        </tbody>
    </table>
}
</main>