@model R302ViewModel

@{
    ViewData["Title"] = "302 - Consolidado por Distrito";
}

<main class="uk-card uk-card-default uk-padding-small">
    <h2 class="uk-card-header uk-border-rounded uk-text-center uk-margin-bottom">
        <span>Consolidado por Distrito</span>
        <a href="" onclick="window.print()" uk-icon="icon: print"></a>
    </h2>
    <section class="uk-flex uk-flex-center">
        <dl class="uk-column-1-@(Model.DescritoresViewModel.Count + 1) uk-column-divider uk-description-list uk-text-center">
            <dt>Total de Questões</dt>
            <dd class="uk-text-center">@Model.QtdTotalQuestoes</dd>
            @foreach (var descritorViewModel in Model.DescritoresViewModel)
            {
                <dt>@descritorViewModel.Descritor.Nome</dt>
                <dd class="uk-text-capitalize uk-text-center">@descritorViewModel.QtdQuestoes</dd>
            }
        </dl>
    </section>
    <div class="uk-text-meta uk-text-right uk-margin-small-right">Taxa de corte: @ApplicationConstants.TaxaCorte%</div>
    <table id="dataTable" class="uk-table uk-table-hover uk-text-center uk-table-striped">
        <thead>
        <tr>
            <th class="uk-text-center">Distrito</th>
            <th class="uk-text-center">Descritor</th>
            <th class="uk-text-center">Taxa de Acerto</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var distritoViewModel in Model.DistritosViewModel)
        {
            <tr>
                <td>@distritoViewModel.Distrito.Nome</td>
                <td>@distritoViewModel.Descritor.Nome</td>

                @foreach (var resultado in Model.ResultadoDistritosViewModel)
                {
                    if (distritoViewModel.Distrito.Id == resultado.DistritoViewModel.Distrito.Id &&
                        distritoViewModel.Descritor.Tema.Disciplina.Id == resultado.DistritoViewModel.Descritor.Tema.Disciplina.Id &&
                        resultado.DescritorViewModel.Descritor.Id == resultado.DistritoViewModel.Descritor.Id &&
                        resultado.DescritorViewModel.Distrito.Id == resultado.DistritoViewModel.Distrito.Id)
                    {
                        <td class="@(resultado.TaxaAcertoDescritor >= ApplicationConstants.TaxaCorte ? "uk-text-success" : "uk-text-danger")">
                            <span>@resultado.TaxaAcertoDescritor%</span>
                            <span class="uk-margin-small-left" uk-icon="@(resultado.TaxaAcertoDescritor >= ApplicationConstants.TaxaCorte ? "check" : "close")"></span>
                        </td>
                    }
                }
            </tr>
        }
        </tbody>
    </table>
</main>