@using SAED.Web.Extensions
@model SAED.Web.Areas.Aplicador.ViewModels.DashboardAplicadorViewModel

@{
    var disciplinas = Model.Questoes.Select(x => x.Descritor.Tema.Disciplina).Distinct().ToList();
    var stateHasError = false;
}


@section Styles {
    <style>
        .uk-card {
            max-width: 960px;
            width: 100%;
        }
    </style>
}

<main class="uk-height-viewport uk-flex uk-flex-1 uk-flex-center uk-flex-middle">
    <div class="uk-card uk-card-default uk-card-body">
        <h2 class="uk-card-title uk-text-center">@Model.Escola.Nome</h2>

        <hr class="uk-list-divider uk-divider-icon" />

        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-3">
                <dl class="uk-description-list">
                    <dt>Nome</dt>
                    <dd>@Model.Aluno.Nome</dd>
                </dl>
            </div>
            <div class="uk-width-1-3">
                <dl class="uk-description-list">
                    <dt>Etapa</dt>
                    <dd>@Model.Etapa.Nome</dd>
                </dl>
            </div>
            <div class="uk-width-1-3">
                <dl class="uk-description-list">
                    <dt>Turma</dt>
                    <dd>@Model.Turma.Nome</dd>
                </dl>
            </div>
            <div class="uk-width-1-3">
                <dl class="uk-description-list">
                    <dt>Turno</dt>
                    <dd>@Model.Turma.Turno.Nome</dd>
                </dl>
            </div>
        </div>

        <hr class="uk-list-divider" />

        <div class="uk-flex uk-flex-around uk-flex-middle uk-flex-wrap">
            @foreach (var disciplina in disciplinas)
            {
                <a asp-area="Aplicador"
                   asp-controller="Aplicacao"
                   asp-action="Index"
                   asp-route-disciplinaId="@disciplina.Id"
                   asp-route-verificacao="@Guid.NewGuid()"
                   class="uk-button uk-button-primary uk-flex-1 uk-button-large uk-margin-small-left uk-margin-small-right">
                    @disciplina.Nome
                </a>
            }
        </div>

        <hr class="uk-list-divider uk-divider-icon" />
        @if (Model.RespostasViewModel?.Respostas is not null)
        {
            <form method="post">
                <div class="uk-column-1-@disciplinas.Count uk-column-divider">
                    @foreach (var disciplina in disciplinas)
                    {
                        <h4 class="uk-text-center">@disciplina.Nome</h4>
                        <dl class="uk-description-list">
                            @foreach (var questao in Model.Questoes.Where(x => x.Descritor.Tema.DisciplinaId == disciplina.Id))
                            {
                                <dt class="uk-grid-small" uk-grid>
                                    <div class="uk-width-expand" uk-leader>@questao.Item</div>
                                    @if (Model.RespostasViewModel?.Respostas?.FirstOrDefault(x => x.QuestaoId == questao.Id)?.AlternativaEscolhida is null)
                                    {
                                        <div>-</div>
                                    }
                                    else
                                    {
                                        <div>@Model.RespostasViewModel.Respostas.FirstOrDefault(x => x.QuestaoId == questao.Id).AlternativaEscolhida.Descricao</div>
                                    }
                                </dt>
                                <input asp-for="EscolaId" class="uk-select" type="hidden" />
                            }
                        </dl>
                    }
                </div>

                <div class="uk-flex uk-flex-around uk-margin-large-top">
                    <a class="uk-button uk-button-default" asp-controller="Selecao" asp-action="Index">Voltar</a>
                    <button class="uk-button uk-button-primary btn-confirm">Confirmar</button>
                </div>
            </form>
        }
    </div>
</main>

@*@section Scripts
    {
        <script>
            validateConfirmButton();

            function validateConfirmButton() {
                const btn = document.querySelector(".btn-confirm");
                const select = document.querySelectorAll('.uk-select#AlunoId');
                select.addEventListener('change',
                    () => {
                        btn.removeAttribute('disabled');
                    });
            }
        </script>
    }*@
