@using static SAED.Core.Constants.AuthorizationConstants
@using SAED.Web.Extensions
@using Microsoft.AspNetCore.Http
@using SAED.Core.Entities
@using SAED.Core.Constants
@inject IHttpContextAccessor HttpContextAccessor

@{
    var avaliacao = HttpContextAccessor.HttpContext?.Session.Get<Avaliacao>(SessionConstants.Avaliacao);
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="SAED - Sistema de Avaliação Educacional de Juazeiro-BA">
    <meta name="author" content="Tácio de Souza Campos">
    <title>@ViewData["Title"] | SAED</title>

    <link rel="icon" type="image/png" href="~/favicon.png" />

    <!-- UIkit -->
    <link href="~/libs/uikit/dist/css/uikit.min.css" rel="stylesheet" />
    <script defer src="~/libs/uikit/dist/js/uikit.min.js"></script>
    <script defer src="~/libs/uikit/dist/js/uikit-icons.js"></script>

    <!-- Vanilla DataTables -->
    <link href="~/libs/vanilla-datatables/dist/vanilla-dataTables.min.css" rel="stylesheet" type="text/css">
    <script defer src="~/libs/vanilla-datatables/dist/vanilla-dataTables.min.js" type="text/javascript"></script>

    <!-- Simplebar -->
    <link href="~/libs/simplebar/dist/simplebar.min.css" rel="stylesheet" />
    <script defer src="~/libs/simplebar/dist/simplebar.min.js"></script>

    <!-- Pace Progress Styles -->
    <link href="~/libs/pace-js/themes/red/pace-theme-minimal.css" rel="stylesheet">
    <script defer src="~/libs/pace-js/pace.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Maven+Pro:wght@400;700&family=Montserrat:wght@400;700&family=Noto+Sans:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <style>
        * {
            box-sizing: border-box;
            font-family: 'Maven Pro', 'Noto Sans', 'Poppins', 'Roboto', 'Lato', 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
        }

        .grid {
            background-color: #ebedef;
            display: grid;
            grid-template: auto minmax(calc(100vh - 162px), 1fr) auto/1fr 4fr;
            grid-template-areas: "aside header header" "aside content content" "aside footer footer";
        }

        .aside {
            box-sizing: border-box;
            grid-area: aside;
            height: 100vh;
            position: sticky;
            top: 0;
        }

        .header { grid-area: header; }

        .content { grid-area: content; }

        .footer { grid-area: footer; }

        .logout-form > a:hover { text-decoration: none; }

        @@media only screen and (max-width: 960px) {
            .grid {
                display: grid;
                grid-template: auto minmax(calc(100vh - 162px), 1fr) auto/1fr;
                grid-template-areas: "header header" "content content" "footer footer";
            }
        }

        @@media print {
            .grid {
                display: grid;
                grid-template: auto minmax(calc(100vh - 162px), 1fr) auto/1fr;
                grid-template-areas: "header header" "content content" "footer footer";
            }
        }
    </style>

    @await RenderSectionAsync("Styles", false)
</head>
<body>
<div id="sidebar" uk-offcanvas="slide">
    <div class="uk-offcanvas-bar">
        @*<div class="c-sidebar-brand"><img class="c-sidebar-brand-full" src="/assets/brand/coreui-base-white.svg" width="118" height="46" alt="CoreUI Logo"><img class="c-sidebar-brand-minimized" src="/assets/brand/coreui-signet-white.svg" width="118" height="46" alt="CoreUI Logo"></div>*@
        <ul class="uk-nav uk-nav-default">
            <li class="uk-active">
                <a href="#">Active</a>
            </li>
            <li class="uk-parent">
                <a href="#">Parent</a>
                <ul class="uk-nav-sub">
                    <li>
                        <a href="#">Sub item</a>
                    </li>
                    <li>
                        <a href="#">Sub item</a>
                    </li>
                </ul>
            </li>
            <li class="uk-nav-header">Header</li>
            <li>
                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a>
            </li>
            <li>
                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a>
            </li>
            <li class="uk-nav-divider"></li>
            <li>
                <a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a>
            </li>
        </ul>
    </div>
</div>
<div class="grid">
    <aside class="uk-card uk-card-default uk-visible@m aside" style="background-color: #f8f8f8;" data-simplebar>
        <div>
            <p class="uk-text-center uk-margin-top">Logo</p>
            <hr class="uk-list-divider" />
        </div>
        <ul class="uk-nav uk-nav-default uk-margin-left">
            <li class="uk-active">
                <a asp-area="@Areas.Administrador" asp-controller="Dashboard" asp-action="Index">Inicio</a>
            </li>

            @if (User.HasClaim(x => x.Value == Permissions.Grupos.View) || User.HasClaim(x => x.Value == Permissions.Usuarios.View))
            {
                <li class="uk-nav-header">Segurança</li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.Grupos.View))
            {
                <li>
                    <a asp-area="@Areas.Administrador" asp-controller="Grupos" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Grupos</a>
                </li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.Usuarios.View))
            {
                <li>
                    <a asp-area="@Areas.Administrador" asp-controller="Usuarios" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Usuários</a>
                </li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.Grupos.View) || User.HasClaim(x => x.Value == Permissions.Usuarios.View))
            {
                <li class="uk-nav-divider"></li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.Relatorios.View))
            {
                <li class="uk-nav-header">
                    <a asp-area="@Areas.Administrador" asp-controller="Relatorios" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Relatórios</a>
                </li>

                <li class="uk-nav-divider"></li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.Distritos.View) || User.HasClaim(x => x.Value == Permissions.Escolas.View) || User.HasClaim(x => x.Value == Permissions.Avaliacoes.View))
            {
                <li class="uk-nav-header">Básico</li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.Avaliacoes.View))
            {
                <li>
                    <a asp-area="@Areas.Administrador" asp-controller="Avaliacoes" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Avaliações</a>
                </li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.Distritos.View))
            {
                <li>
                    <a asp-area="@Areas.Administrador" asp-controller="Distritos" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Distritos</a>
                </li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.Escolas.View))
            {
                <li>
                    <a asp-area="@Areas.Administrador" asp-controller="Escolas" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Escolas</a>
                </li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.Salas.View))
            {
                <li>
                    <a asp-area="@Areas.Administrador" asp-controller="Salas" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Salas</a>
                </li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.Turmas.View))
            {
                <li>
                    <a asp-area="@Areas.Administrador" asp-controller="Turmas" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Turmas</a>
                </li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.Alunos.View))
            {
                <li>
                    <a asp-area="@Areas.Administrador" asp-controller="Alunos" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Alunos</a>
                </li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.Distritos.View) || User.HasClaim(x => x.Value == Permissions.Escolas.View) || User.HasClaim(x => x.Value == Permissions.Avaliacoes.View))
            {
                <li class="uk-nav-divider"></li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.AvaliacaoDisciplinasEtapas.View) || User.HasClaim(x => x.Value == Permissions.Temas.View) || User.HasClaim(x => x.Value == Permissions.Descritores.View) || User.HasClaim(x => x.Value == Permissions.Questoes.View) || User.HasClaim(x => x.Value == Permissions.Alternativas.View))
            {
                <li class="uk-nav-header">Elaboração</li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.AvaliacaoDisciplinasEtapas.View))
            {
                <li>
                    <a asp-area="@Areas.Administrador" asp-controller="AvaliacaoDisciplinasEtapas" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Disciplinas</a>
                </li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.Temas.View))
            {
                <li>
                    <a asp-area="@Areas.Administrador" asp-controller="Temas" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Temas</a>
                </li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.Descritores.View))
            {
                <li>
                    <a asp-area="@Areas.Administrador" asp-controller="Descritores" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Descritores</a>
                </li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.Questoes.View))
            {
                <li>
                    <a asp-area="@Areas.Administrador" asp-controller="Questoes" asp-action="Index"><span class="uk-margin-small-right" uk-icon="table"></span> Questões</a>
                </li>
            }

            @if (User.HasClaim(x => x.Value == Permissions.Disciplinas.View) || User.HasClaim(x => x.Value == Permissions.Temas.View) || User.HasClaim(x => x.Value == Permissions.Descritores.View) || User.HasClaim(x => x.Value == Permissions.Questoes.View) || User.HasClaim(x => x.Value == Permissions.Alternativas.View))
            {
                <li class="uk-nav-divider"></li>
            }


            @*<li class="uk-parent">
                <a href="#">Parent</a>
                <ul class="uk-nav-sub">
                    <li>
                        <a href="#">Sub item</a>
                    </li>
                    <li>
                        <a href="#">Sub item</a>
                    </li>
                </ul>
            </li>
            <li class="uk-nav-divider"></li>*@

            <li class="uk-margin-top uk-margin-bottom">
                <form class="logout-form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <a class="uk-text-danger" onclick="document.querySelector('.logout-form').submit();"><span class="uk-margin-small-right" uk-icon="arrow-left"></span> Sair</a>
                </form>
            </li>
        </ul>
    </aside>
    <nav class="uk-navbar uk-navbar-container uk-margin-bottom uk-flex-between uk-flex-middle header" style="height: 70px;">
        <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle="#sidebar"></a>
        <div class="uk-visible@m"></div>
        <span class="uk-navbar-item uk-logo">@User.Identity?.Name</span>
        <div>
            <span class="uk-margin-small-right">@avaliacao?.Codigo</span>
            @* ReSharper disable once Html.PathError *@
            <a href="/avaliacoes" class="uk-icon-button uk-margin-small-right uk-text-primary" uk-icon="sign-out"></a>
        </div>
    </nav>
    <div class="content">
        <div class="uk-container uk-container-expand" style="min-height: calc(100% - 166px)">
            <div class="uk-animation-fade">
                @RenderBody()
            </div>
        </div>
    </div>
    @*<footer class="footer">
        <hr class="uk-list-divider uk-margin-top uk-margin-remove-bottom" />
        <div class="uk-flex uk-flex-center uk-flex-middle uk-padding-small">
            <span>Desenvolvido com</span>
            <span class="uk-margin-small-left uk-margin-small-right" uk-icon="heart"></span>
            <span>pela EVOLVE</span>
        </div>
    </footer>*@
</div>

<script>
    document.addEventListener('DOMContentLoaded',
        () => {
            configureVanillaDataTable();
        });

    function configureVanillaDataTable() {
        const myTable = document.querySelector("#dataTable");
        if (myTable) {
            new DataTable(myTable,
                {
                    layout: {
                        top: "",
                        bottom: "{select}{pager}"
                    },
                    labels: {
                        placeholder: "Pesquisar",
                        perPage: "{select} registros por página",
                        noRows: "Registros não encontrados",
                        info: "{start} à {end} de {rows} registros",
                    },
                });
        }
    }

    function removeUrlParam(key, sourceURL) {
        let rtn = sourceURL.split("?")[0],
            param,
            params_arr = [],
            queryString = (sourceURL.indexOf("?") !== -1) ? sourceURL.split("?")[1] : "";
        if (queryString !== "") {
            params_arr = queryString.split("&");
            for (let i = params_arr.length - 1; i >= 0; i -= 1) {
                param = params_arr[i].split("=")[0];
                if (param === key) {
                    params_arr.splice(i, 1);
                }
            }
            rtn = rtn + "?" + params_arr.join("&");
        }
        return rtn;
    }
</script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>