@model IEnumerable<SAED.ApplicationCore.Entities.Distrito>

@{
    ViewData["Title"] = "Distritos";
}

<main class="uk-card uk-card-default uk-card-body">
    @{await Html.RenderPartialAsync("Partials/Table/_Header", new TableHeader { Header = "Distritos", Controller = "Distritos", Action = "Distritos" });}
    <div class="uk-overflow-auto">
        <table id="dataTable" class="uk-table uk-table-hover uk-table-middle uk-table-striped">
            <thead>
                <tr>
                    <th>Distrito</th>
                    <th>@Html.DisplayNameFor(model => model.Zona)</th>
                    <th>@Html.DisplayNameFor(model => model.Distancia)</th>
                    <th class="uk-text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Zona)</td>
                    <td>@Html.DisplayFor(modelItem => item.Distancia)</td>
                    <td class="uk-flex uk-flex-center">
                        @if (User.HasClaim(x => x.Value == Permissions.Distritos.Update))
                        {
                            <a class="uk-margin-right" uk-icon="pencil" title="Editar" asp-action="Edit" asp-route-id="@item.Id"></a>
                        }
                        @if (User.HasClaim(x => x.Value == Permissions.Distritos.Delete))
                        {
                            <a uk-icon="trash" title="Remover" asp-action="Delete" asp-route-id="@item.Id"></a>
                        }
                    </td>
                </tr>
        }
            </tbody>
    </table>
    </div>
</main>
